<% let countLabs = 0; if (examFoundLabs.length > 0) { %>
<% examFoundLabs.forEach(function(examFoundLab){ %>
<% if (new Date(examFoundLab.startDateAndTime) > new Date(getCurrentDateAndTime)) { %>
<div class="xl:w-1/4 md:w-1/2 p-4">
  <div class="bg-gray-100 p-6 rounded-lg">
    <img class="h-40 rounded w-full object-cover object-center mb-6" src="<%=examFoundLab.thumbnailUrl%>" alt="content" style="filter: grayscale(100%);">
    <h3 class="tracking-widest text-blue-500 text-xs font-medium title-font text-uppercase">UPCOMING</h3>
    <h2 class="text-lg text-gray-900 font-medium title-font mb-4 text-uppercase"><%=examFoundLab.labName%></h2>
    <p class="leading-relaxed text-base">Exam will begin at <%=new Date(examFoundLab.startDateAndTime).toLocaleDateString("en-US",{weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour12: true, hour: "2-digit", minute: "2-digit"})%></p>
  </div>
</div>
<% countLabs++; %>
<% } else if(new Date(examFoundLab.startDateAndTime) <= new Date(getCurrentDateAndTime) && new Date(examFoundLab.endDateAndTime) >= new Date(getCurrentDateAndTime)) { %>
<% countLabs++; %>
<div class="xl:w-1/4 md:w-1/2 p-4">
  <div class="bg-gray-100 p-6 rounded-lg">
    <img class="h-40 rounded w-full object-cover object-center mb-6" src="<%=examFoundLab.thumbnailUrl%>" alt="content">
    <h3 class="tracking-widest text-blue-500 text-xs font-medium title-font text-uppercase"><%=examFoundLab.catagory%></h3>
    <h2 class="text-lg text-gray-900 font-medium title-font mb-4 text-uppercase"><%=examFoundLab.labName%></h2>
    <p class="leading-relaxed text-base"><%=examFoundLab.examDetails%></p>
    <button type="button" class="btn btn-secondary mt-3" data-toggle="modal" data-target="#startExamModel" data-exam-id="<%=examFoundLab._id%>">Start Exam</button>
  </div>
</div>
<% } %>
<% }); %>
<% } %>
<% if(countLabs === 0) { %>
<div class="xl:w-1/4 md:w-1/2 p-4">
  <div class="bg-gray-100 p-6 rounded-lg">
    <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://cdn.guidingtech.com/imager/assets/2019/06/230319/How-to-Solve-Windows-10-Remote-Desktop-Not-Working-Issues-FI_4d470f76dc99e18ad75087b1b8410ea9.png?1562001157"
      alt="content">
    <h3 class="tracking-widest text-blue-500 text-xs font-medium title-font text-uppercase">NOT FOUND</h3>
    <h2 class="text-lg text-gray-900 font-medium title-font mb-4 text-uppercase">NO EXAM LABS FOUND</h2>
    <p class="leading-relaxed text-base">Labs will automatically show up according to the scheduled time.</p>
  </div>
</div>
<% } %>
