<%- include("partials/header") -%>
<!-- SPLIT SCREEN -->
<div class="page-container">

  <div class="panel-container">
    <button type="button" id="examOverModelTrigger" class="hidden" data-toggle="modal" data-target="#examOverModel">
      Launch static backdrop modal
    </button>
    <!-- LEFT PANNEL -->
    <div class="panel-left">
      <div class="">
        <h1 class="text-center text-uppercase text-wrap">Time Remaining: <span id="time-remaining"></span></h1>
        <hr>
      </div>
      <div class="container-fluid text-wrap question-md">
        <div id="question-content">
          <%-foundLab[0].labDataHTML%>
        </div>
      </div>
    </div>

    <!-- SPLITTER DIV -->
    <div class="splitter">
    </div>

    <!-- RIGHT PANEL -->
    <div class="panel-right">
      <div id="terminal-tab-div" role="tabpanel" aria-labelledby="terminal-tab">
        <% if (foundLab[0].terminal_selector === "katacoda") { %>
          <iframe src="https://www.katacoda.com/embed/<%=foundLab[0].katacoda_username%>/<%=foundLab[0].katacoda_scenario%>/?v=2&amp;embed=true&amp;ui=inline&amp;target=null&amp;color=1a202c&amp;secondary=1a202c&amp;font=Helvetica%20Neue&amp;fontheader=Helvetica%20Neue&amp;hideintro=true&amp;hidesidebar=true&amp;ctatext=Back+to+dashboard&amp;code=" frameborder="0" allowtransparency="true" allowfullscreen="true" style="min-height: 250px; height: 100%; width: 100%; border: 0px; background-color: transparent;"></iframe>
        <% } else if (foundLab[0].terminal_selector === "ip_and_port") { %>
          <iframe id="terminal-frame" src="https://<%=foundLab[0].terminal_ip_and_port%>" frameborder="0" allowtransparency="true" allowfullscreen="true"
            style="min-height: 250px; height: 100%; width: 100%; border: 0px; background-color: transparent;"></iframe>
        <% } %>
        </div>
    </div>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="examOverModel" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="examOverModel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="examOverModelTitle">Time is up!!</h5>
        <% if (user.role === "superuser") { %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <% } %>
      </div>
      <div class="modal-body text-center">
        <% const randomTimeUpImage = "/images/timeUp"+(Math.floor((Math.random() * 5)+1))+".gif" %>
        <img class="rounded-circle w-50 mx-auto" src="<%=randomTimeUpImage%>" alt="time up gif">
        <br>
        Your examination time is now over!
      </div>
      <div class="modal-footer">
        <% if (user.role === "superuser") { %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/powerzone/examLabs" type="button" class="btn btn-primary">Back To Exam Panel</a>
        <% } else { %>
        <a href="/dashboard" type="button" class="btn btn-primary">Back To Dashboard</a>
        <% } %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var _0x4e1d=['floor','time-remaining','<%=foundLab[0].endDateAndTime%>','\x20sec\x20','getElementById','<%=new Date().toLocaleString('en-US', {
    timeZone: 'Asia/Kolkata'
  });%>','getTime','innerHTML','TIMES\x20UP','getSeconds'];(function(_0x538b2d,_0x4e1d9e){var _0x521b2a=function(_0xc73851){while(--_0xc73851){_0x538b2d['push'](_0x538b2d['shift']());}};_0x521b2a(++_0x4e1d9e);}(_0x4e1d,0x1c3));var _0x521b=function(_0x538b2d,_0x4e1d9e){_0x538b2d=_0x538b2d-0x0;var _0x521b2a=_0x4e1d[_0x538b2d];return _0x521b2a;};const countDownDate=new Date(_0x521b('0x1'))['getTime']();var now=new Date(_0x521b('0x4')),x=setInterval(function(){now['setSeconds'](now[_0x521b('0x8')]()+0x1);var _0x4ef124=now[_0x521b('0x5')]();var _0x4e593c=countDownDate-now;var _0x5c9479=Math[_0x521b('0x9')](_0x4e593c/(0x3e8*0x3c*0x3c));var _0x36a554=Math['floor'](_0x4e593c%(0x3e8*0x3c*0x3c)/(0x3e8*0x3c));var _0x361454=Math[_0x521b('0x9')](_0x4e593c%(0x3e8*0x3c)/0x3e8);document[_0x521b('0x3')](_0x521b('0x0'))[_0x521b('0x6')]=_0x5c9479+'\x20hrs\x20'+_0x36a554+'\x20mins\x20'+_0x361454+_0x521b('0x2');_0x4e593c<0x0&&(clearInterval(x),document[_0x521b('0x3')](_0x521b('0x0'))[_0x521b('0x6')]=_0x521b('0x7'),document[_0x521b('0x3')]('examOverModelTrigger')['click']());},0x3e8);
</script>

<!-- <script type="text/javascript">
  const countDownDate = new Date("<%=foundLab[0].endDateAndTime%>").getTime();
  var now = new Date("<%=new Date().toLocaleString('en-US', {
    timeZone: 'Asia/Kolkata'
  });%>");
  var x = setInterval(function() {
    now.setSeconds( now.getSeconds() + 1 );
    var left = now.getTime();
    var distance = countDownDate - now;
    var hours = Math.floor(distance / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    document.getElementById("time-remaining").innerHTML = hours + " hrs " +
      minutes + " mins " + seconds + " sec ";
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("time-remaining").innerHTML = "TIMES UP";
      document.getElementById("examOverModelTrigger").click();
    }
  }, 1000);
</script> -->

<%- include("partials/footer") -%>
