<%- include("partials/header") -%>
<div class="d-flex flex-column" style="min-height: 75vh;">
<% if (action === "resetrequest") { %>
<div class="login-and-signup-class mt-5">
  <div class="signup-form">
    <form action="/resetPassword" method="post">
      <h2>Forgot your password!</h2>
      <p class="hint-text">No problem we will help you. Enter your email address.</p>
      <div class="or-seperator"></div>
      <input type="hidden" name="action" value="resetrequest">
      <div class="form-group">
        <input type="email" class="form-control input-lg" name="username" placeholder="Email Address" required="required">
      </div>
      <div class="form-group">
        <button type="submit" class="social-btn btn-success btn-lg btn-block signup-btn">Reset</button>
      </div>
    </form>
    <div class="text-center">Want to login? <a href="/login">Login</a></div>
  </div>
</div>
<% } else if (action === "sentemail") { %>
  <div class="jumbotron jumbotron-fluid m-3">
    <div class="container text-center">
      <h1 class="display-4">Check your email!</h1>
      <p class="lead">If your email <em><%=resetEmail%></em> is correct and registered with us, you will receive a password reset link at your email.</p>
      <p>If mail is not received, please check your spam folder</p>
      <hr class="pacman my-4">
      <p>Please contact on support if you are not able to reset for any reason.</p>
      <a class="btn btn-primary btn-lg my-4" href="/support" role="button">Support</a>
    </div>
  </div>
<% } else if (action === "changepassword") { %>
  <div class="login-and-signup-class mt-5">
    <div class="signup-form">
      <form action="/resetPassword" method="post">
        <h2>Change your password!</h2>
        <p class="hint-text">Be sure to make a strong password to protect your account from being compromised.</p>
        <div class="or-seperator"></div>
        <%- include("partials/alertmessage") -%>
        <input type="hidden" name="action" value="changepassword">
        <input type="hidden" name="hidden_user_id" value="<%=foundToken.userId%>">
        <input type="hidden" name="hidden_verification_token" value="<%=foundToken.token%>">
        <div class="form-group">
          <input type="password" class="form-control input-lg" name="new_password" placeholder="New Password" required="required">
        </div>
        <div class="form-group">
          <input type="password" class="form-control input-lg" name="confirm_password" placeholder="Confirm New Password" required="required">
        </div>
        <div class="form-group">
          <button type="submit" class="social-btn btn-success btn-lg btn-block signup-btn">Confirm</button>
        </div>
      </form>
    </div>
  </div>
<% } else if (action === "incorrectdata") { %>
  <div class="jumbotron jumbotron-fluid m-3">
    <div class="container text-center">
      <h1 class="display-4">Invalid Data</h1>
      <p class="lead">If you requested for password reset, maybe the link is expired or invalid.</p>
      <a class="btn btn-primary btn-lg my-4" href="/resetPassword" role="button">Try Again</a>
    </div>
  </div>
<% } %>
</div>
<%- include("partials/footerbar") -%>
<%- include("partials/footer") -%>
