<%- include("../partials/admin/adminHeader") %>
<%- include("../partials/admin/adminSidebar") %>
<%- include("../partials/admin/adminTopbar") %>


<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">User Feedbacks and Bugs</h1>
  </div>
        <% if (feedbacks.length > 0) { %>
          <% feedbacks.forEach(function(feedback){ %>
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><%=feedback.name%> (<%=feedback.email%>)</h6>
              </div>
              <div class="card-body">
                <%=feedback.message%>
              </div>
            </div>
          <% }); %>
        <% } %>

</div>
<!-- /.container-fluid -->

<%- include("../partials/admin/adminFooter") %>
